body {
  font-family: 'Anton', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Redressed', cursive;
  font-family: 'Source Sans 3', sans-serif;
}